:root {
  --bg: #171A30;
  --main_bg: #2D3250;
  --input_bg: hsla(231 22% 51%/0.5);
}

body,
p,
fieldset,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
  background: var(--bg);
  color: white;
}

main {
  background: var(--main_bg);
  width: 710px;
  border-radius: 25px;
  margin: 50px auto;
  padding: 55px 60px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
}

fieldset {
  border: initial;
}

input[type="text"],
textarea {
  background: var(--input_bg);
  border: initial;
}

input[type="text"] {
  min-width: 290px;
  height: 70px;
}

p {
  position: relative;
}

p+p {
  margin-top: 5px;
}

p>label {
  position: absolute;
  top: 10px;
  left: 20px;
  color: white;
  opacity: 0.3;
}

button.addsentence {
  display: none;
}