:root {
  --bg: #171A30;
  --main_bg: #2D3250;
  --input_bg: hsla(231 22% 51%/0.5);
  --accent: #F9B17A;
}

* {
  box-sizing: border-box;
}

body,
p,
fieldset,
h1 {
  margin: 0;
  padding: 0;
}

body {
  font-family: Raleway, sans-serif;
  background: var(--bg);
  color: white;
}

main {
  background: var(--main_bg);
  width: 710px;
  border-radius: 25px;
  margin: 50px auto;
  padding: 55px 60px;
}

h1 {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 10px;
}

fieldset {
  border: initial;
}

input[type="text"],
textarea {
  background: var(--input_bg);
  border: initial;
  color: white;
  font-family: inherit;
}

input[type="text"] {
  min-width: 290px;
  height: 60px;
  padding: 15px 15px;
  padding-bottom: 0;
}

span#emptyword {
  color: var(--accent);
  margin-left: 10px;
}

input#word_entry:invalid+span#emptyword {
  visibility: visible;
}

input#word_entry:valid+span#emptyword {
  visibility: hidden;
}

#pos_opt {
  font-family: inherit;
  border: initial;
  background: var(--input_bg);
  color: currentColor;
  padding: 10px;
  margin-left: 10px;
  vertical-align: bottom;
  width: 200px;
  height: 60px;
}

textarea {
  resize: none;
  width: 590px;
  height: 80px;
  padding: 25px 15px;
}

textarea[id*="meaning"] {
  border: 1px solid var(--accent);
}

input[type="text"]:focus,
textarea:focus {
  border-left: 5px solid #F9B17A;
  outline: none;
}

p {
  position: relative;
}

p+p {
  margin-top: 5px;
}

p>label {
  position: absolute;
  font-size: 0.9rem;
  top: 5px;
  left: 15px;
  color: white;
  opacity: 0.3;
}

button.addsentence {
  display: none;
}

button {
  margin: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5px;
  background: var(--accent);
  border: initial;
  border-radius: 3px;
  font-size: 1.5rem;
}

button:first-of-type {
  margin-left: 0;
}

button:hover {
  box-shadow: 0 0 6px var(--accent);
}